@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<html>
<head>
    <style>
        .vcenter {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-between;
            float: none;
            text-align: center;
        }
        .buttom {
            padding: 25px 12px 7px !important;
        }
    </style>
</head>
<body>
    <div>
        <div class="vcenter">
            <h3>@ViewData["Title"]</h3>
            <a asp-action="Create" class="buttom btn btn-default">Create new</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
